@font-face {
    font-family: 'playfair_displayregular';
    src: url('playfairdisplay-regular-webfont.eot');
    src: url('playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('playfairdisplay-regular-webfont.woff') format('woff'),
         url('playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherregular';
    src: url('merriweather-regular-webfont.eot');
    src: url('merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweather-regular-webfont.woff2') format('woff2'),
         url('merriweather-regular-webfont.woff') format('woff'),
         url('merriweather-regular-webfont.ttf') format('truetype'),
         url('merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('playfairdisplay-bold-webfont.eot');
    src: url('playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('playfairdisplay-bold-webfont.woff') format('woff'),
         url('playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('merriweather-bolditalic-webfont.eot');
    src: url('merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('merriweather-bolditalic-webfont.woff') format('woff'),
         url('merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'azo_sansbold';
    src: url('azosans-bold-webfont.eot');
    src: url('azosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('azosans-bold-webfont.woff2') format('woff2'),
         url('azosans-bold-webfont.woff') format('woff'),
         url('azosans-bold-webfont.ttf') format('truetype'),
         url('azosans-bold-webfont.svg#azo_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'akzidenzgroteskregular';
    src: url('akzidenz-grotesk-light-webfont.eot');
    src: url('akzidenz-grotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenz-grotesk-light-webfont.woff2') format('woff2'),
         url('akzidenz-grotesk-light-webfont.woff') format('woff'),
         url('akzidenz-grotesk-light-webfont.ttf') format('truetype'),
         url('akzidenz-grotesk-light-webfont.svg#akzidenzgroteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}